.wrapper {
    width: 260px;

    .row {
        align-items: baseline;
        padding-bottom: 5px;
    }

    .label {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .value {
        font-weight: 300;
        font-size: 1rem;
    }

    .not-completed {
        color: red;
        font-size: 0.8rem;
    }

    .completed {
        color: green;
        font-size: 0.8rem;
    }
}