@use '../src/styles/variables.scss' as *;
@import 'primeicons/primeicons.css';

html, body, p, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	box-sizing: border-box; // dimensions of the element are calculated including padding and border
}

html, body, app-root {
	height: 100%;
}

app-root {
	display: flex;
	flex-direction: column; /* stack items vertically, must be with display: flex. */
}

.space-between {
	justify-content: space-between; /* put equal space between items, but no at first or last */
}

.wrap {
	flex-wrap: wrap; /* if there's not enough space for items move the last in the below */
}  

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.gap-15 {
	gap: 1.5rem;
}

.gap-1 {
	gap: 1rem;
}

.gap-05 {
	gap: 0.5rem;
}

.gap-03 {
	gap: 0.3rem;
}

.align-center {
	align-items: center;
}
.justify-center {
	justify-content: center;
}

.hidden {
	display: none;
}

.full-center {
	align-items: center;
	justify-content: center;
}

.hidden {
	display: none;
}